.button-overlay {
    top: 0;
    left: 0;
    position: absolute;
}

.screenshotCount {
    position: absolute;
    bottom: 1rem;
}

.counter {
    align-content: center;
    padding: 1rem;
    border-radius: 15px;
    background-color: black;
    color: white;
}

.cardImage {
    position: relative;
}

.center {
    
    justify-content: center;
}