<div class="search-container mat-elevation-z5">

    <mat-form-field appearance="fill">
        <mat-label>Set</mat-label>
        <mat-select [(ngModel)]="selectedSet">
            <mat-option [value]="null">None</mat-option>
            <mat-option *ngFor="let set of listOfSets" [value]="set">{{set.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Card Name</mat-label>
        <input matInput>
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <mat-checkbox class="checkbox-margin" [(ngModel)]="viewDeck">View Deck</mat-checkbox>
    <mat-checkbox class="checkbox-margin" [(ngModel)]="editMode">Edit View</mat-checkbox>
    <mat-checkbox class="checkbox-margin" [(ngModel)]="screenshotMode">Screenshot mode</mat-checkbox>
    <mat-checkbox class="checkbox-margin" [(ngModel)]="proxyMode">Proxy mode</mat-checkbox>

    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-raised-button color="primary" (click)="onSave()">Save</button>
    <button mat-raised-button color="primary">Import</button>
    <button mat-raised-button color="primary">Export</button>
    <button mat-raised-button color="primary" (click)="printMode = true">Print</button>

</div>


<set-display [set]="selectedSet" [hidden]="viewDeck">
</set-display>

<deck-viewer *ngIf="viewDeck" [editMode]="editMode" [screenshotMode]="screenshotMode" [proxyMode]="proxyMode">
</deck-viewer>

<window *ngIf="printMode" style="display: contents" (windowClosed)="printMode = false;">
    <proxy-view style="display: contents"></proxy-view>
</window>