
<div class="form-container mat-elevation-z5">

    <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <mat-form-field>
            <input matInput placeholder="Email Address" formControlName="email">
            <mat-error display-error formControlName="email">
                <ng-template errorName="required">Email is required</ng-template>
                <ng-template errorName="email">Email msut be in the correct format</ng-template>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Password" type="password" formControlName="password">
            <mat-error display-error formControlName="password">
                <ng-template errorName="required">Password is required</ng-template>
            </mat-error>
        </mat-form-field>

        <div class="center margin-top">
            <button mat-raised-button color="primary" type="submit">Login</button>
        </div>

        <div class="center margin-top">
            <button mat-raised-button color="secondary" (click)="loginWithGoogle()">
                <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                Login With Google</button>
        </div>
        
        <span class="center margin-top">
            New to our platform? <a routerLink="/signup">Sign up!</a>
        </span>
    </form>
</div>
